[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-bundler"]
	path = vim/vim.symlink/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
